@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Username: @ViewData["Username"]</p>
    <p>Email: @ViewData["Email"]</p>
    <p>Phone Number: @ViewData["PhoneNo"]</p>
    <p>Password Hash: @ViewData["PasswordHash"]</p>
    <p>Full Name: @ViewData["FullName"]</p>
    <p>Gender: @ViewData["Gender"]</p>
    <p>Credit Card Number: @ViewData["CreditCard"]</p>
    <p>Delivery Address: @ViewData["Address"]</p>
    <p>About Me: @ViewData["About"]</p>
</div>
